{% extends 'NfeBundle:Include:base.html.twig' %}

{% set loadjs = ['/bundles/nfe/js/pagination.js', '/bundles/nfe/js/lote-rps-list.js'] %}

{% block head %}
    {{ include('NfeBundle:Include:head.html.twig', { 'head': { 'title': 'Lotes de RPS' } }) }}
{% endblock %}

{% set content %}
    <h1>Lote de RPS</h1>
    <br><br>
    <div class="table-responsive">
        <table class="table table-hover table-striped" id="table-pagination">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Data de Cadastro</th>
                    <th>Enviado</th>
                    <th>Período Inicial</th>
                    <th>Período Final</th>
                    <th>Valor Total</th>
                    <th>Valor Dedução</th>
                    <th>Valor ISS</th>
                    <th>Valor Crédito</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {{ render(url('nfe_lote_rps_listagem_paginacao', {'page': 0})) }}
            </tbody>
        </table>

        <nav>
          <ul class="pagination">
            <li>
              <a href="#" data-wrapper="table-pagination" data-url="{{ path('nfe_lote_rps_listagem_paginacao', {'page': 0}) }}" data-page="1" data-label="Carregar mais registros">Carregar mais registros</a>
            </li>
          </ul>
        </nav>
    </div>
{% endset %}

{% block body %}
    {{ include('NfeBundle:Include:body.html.twig', {
        'pageid': 'loterpslistagem',
        'content': content
    }) }}
{% endblock %}
