{% extends 'NfeBundle:Include:base.html.twig' %}

{% block head %}
    {{ include('NfeBundle:Include:head.html.twig', { 'head': { 'title': 'Upload RPS' } }) }}
{% endblock %}

{% block body %}
    <body id="pageuploadrps">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Upload efetuado com sucesso</h3>
            </div>
            <div class="panel-body">
                Aguarde alguns instantes para que os RPS sejam importados.
            </div>
        </div>
        
        {{ include('NfeBundle:Include:loadjs.html.twig') }}
    </body>
{% endblock %}
