<!DOCTYPE html>
<html lang="pt-br">
    {% block head %}
    <head>
        <meta charset="UTF-8" />
        <title>NFE ENEM</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    {% endblock %}
    
    {% block body %}
    <body>
        <h1>NFE ENEM</h1>
    </body>
    {% endblock %}
</html>
